project/app_server/views/data.jade
extends layout
block link
    -var stran = 'vhodna';

block content
    script(src='/javascripts/funkcijeZaData.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    div.naslovi
        h1 ----Vnos začetnih podatkov----
        if (napaka == "niBrisano")
          div.alert.alert-dismissible.alert-danger(style='text-align:center;')
              button.close(type="button" ,data-dismiss="alert") X
              strong Oh snap! Prišlo je do napake pri brisanju baze.
        if (napaka == "brisano")
          div.alert.alert-dismissible.alert-success(style='text-align:center;')
              button.close(type="button" ,data-dismiss="alert") X
              strong Uspešno ste pobrisali bazo.
        button.btn.btn-danger.gumbi-stroski-prelivi(onClick='pobrisiBazo()',style='width:20%;') Pobriši bazo
    div.glavniDataPoravnava(id='glavniBox')
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-primary.gumbi-stroski-prelivi(onClick='dodajUporabnika()') Dodaj uporabnika
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-danger.gumbi-stroski-prelivi( onClick='dodajStrosek()') Dodaj strošek
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-success.gumbi-stroski-prelivi( onClick="dodajPreliv()") Dodaj priliv
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-info.gumbi-stroski-prelivi(onClick='dodajRacun()') Dodaj račun
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-warning.gumbi-stroski-prelivi(onClick='dodajCilj()') Dodaj cilj
            
            
            
        div.card.kartica2.zaDataPoravnava(id='uporabnikBlock',style='display:none;')
            h3.card-header.bg-primary Dodajanje Uporabnikov
            div.card-body
              form(id="dodajanjeUporabnikaForm")
                div.form-group.forma-Stroski
                    label.col-form-label(for='imeUporabnika') Ime uporabnika
                    input.form-control(type='text', id='imeUporabnika',placeholder='Ime')
                div.form-group.forma-Stroski
                    label.col-form-label(for='priimekUporabnika') Priimek uporabnika
                    input.form-control(type='text', id='priimekUporabnika',placeholder='Priimek')
                div.form-group.forma-Stroski
                    label.col-form-label(for='gesloUporabnika') Geslo uporabnika
                    input.form-control(type='password', id='gesloUporabnika',placeholder='*****')
                div.form-group.forma-Stroski
                    label.col-form-label(for='gesloPonovnoUporabnika') Ponovi geslo uporabnika
                    input.form-control(type='password', id='gesloPonovnoUporabnika',placeholder='*****')
                div.forma-Stroski.zaAlignText
                  button.btn.btn-primary.gumbiZaSubmit(type='button',onClick='submitPreljiv()',style='width:120px;margin-bottom:5px;') Potrdi    
                
                
                //dodajanje stroskov
                
        div.card.kartica2.zaDataPoravnava(id='strosekBlock',style='display:none;')
            h3.card-header.bg-danger Dodajanje stroškov
            div.card-body
              form(id='strosekForm')
                div.form-group.forma-Stroski
                  label(for='uprStrosek') Za uporabnika
                  select.form-control.controlaOption(id='uprStrosek')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imeStroska') Ime stroška
                  input.form-control(type='text' id='imeStroska' required)
                div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
                  label.control-label Količina
                  div.form-group
                    label.sr-only(for='kolicinaStroska') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaStroska', placeholder='Količina' required )
                div.form-group.drugiFormGroup
                  label(for='strosekIzRacuna') Iz računa
                  select.form-control.controlaOption(id='strosekIzRacuna')
                    option NLB
                    option NLB varcevalni
                    option Štumf
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Mesečni
                    input.form-check-input.checkBoxi(type='checkbox',id='checkboxMesecni', onChange='mesecniClick(this.id)') 
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Enkratni
                    input.form-check-input.checkBoxi(type='checkbox',id='checkboxEnkratni',onChange='enkratniClick(this.id)') 
                div.form-group.forma-Stroski
                  label.col-form-label(for='datumStroska') Datum stroška
                  input.form-control(type='date', id='datumStroska', disabled="true")
                div.forma-Stroski.zaAlignText
                  button.btn.btn-danger.gumbiZaSubmit(type='button',onClick='submitStrosek()',style='width:120px;margin-bottom:5px;') Potrdi
            
              //dodajanje prilivov
              
        div.card.kartica2.zaDataPoravnava(id='prelivBlock',style='display:none;')
            h3.card-header.bg-success Dodajanje Prilivov
            div.card-body
              form(id="dodajanjePrilivaForm")
                div.form-group.forma-Stroski
                  label(for='uprPriliv') Za uporabnika
                  select.form-control.controlaOption(id='uprPriliv')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imePreliva') Ime priliva
                  input.form-control(type='text' id='imePreliva')
                div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
                  label.control-label Količina
                  div.form-group
                    label.sr-only(for='kolicinaPreliva') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaPreliva', placeholder='Količina')
                div.form-group.drugiFormGroup
                  label(for='racunPreliva') Na račun
                  select.form-control.controlaOption(id='racunPreliva')
                    option NLB
                    option NLB varcevalni
                    option Štumf
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Mesečni
                    input.form-check-input.checkBoxi(type='checkbox',id='mesecniPreliv',onChange='mesecniClick(this.id)') 
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Enkratni
                    input.form-check-input.checkBoxi(type='checkbox',id='enkratniPreliv',onChange='enkratniClick(this.id)') 
                div.form-group.forma-Stroski
                  label.col-form-label(for='datumPreliva') Datum priliva
                  input.form-control(type='date', id='datumPreliva', disabled='true')
                div.forma-Stroski.zaAlignText
                  button.btn.btn-success.gumbiZaSubmit(type='button',onClick='submitPreljiv()',style='width:120px;margin-bottom:5px;') Potrdi
                  
        div.card.kartica2.zaDataPoravnava(id='racunBlock2',style='display:none;')
            h3.card-header.bg-info Dodajanje Računov
            form(id="dodajanjeRacunovForm")
              div.card-body
                div.form-group.forma-Stroski
                  label(for='uprRacun') Za uporabnika
                  select.form-control.controlaOption(id='uprRacun')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imeRacuna') Ime računa
                  input.form-control(type='text', id='imeRacuna' required)
                div.form-group.forma-Stroski.drugaFormaDodatek
                  label.control-label Začetno stanje
                  div.form-group
                    label.sr-only(for='zacetnoStanje') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='zacetnoStanje', placeholder='Količina' required)
                div.forma-Stroski.zaAlignText
                  button.btn.btn-info(type='button', onClick='submitRacun()' style='width:120px;margin-bottom:5px;') Potrdi
                  
        div.card.kartica2.zaDataPoravnava(style='display:none;', id='ciljBlock2')
            h3.card-header.bg-warning Dodajanje cilja
            div.card-body
                form
                  div.form-group.forma-Stroski
                  label(for='uprCilj') Za uporabnika
                  select.form-control.controlaOption(id='uprCilj')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                  div.form-group(style='float:left;width:100%')
                    label.col-form-label(for='inputDefault') Ime cilja
                    input.form-control(type='text' id='inputDefault')
                  div.form-group
                    label.control-label Količina
                    label.sr-only(for='kolicinaCilja') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaCilja', placeholder='')
                  div.form-check(style='float:left;width:50%;')
                    label.form-check-label
                      p(style='float:left;margin-top:3px;') Mesečni
                      input.form-check-input(type='checkbox',style='float:left;margin-left:10px;') 
                  div.form-check(style='float:left;width:50%;')
                    label.form-check-label
                      p(style='float:left;margin-top:3px;') Dolgoročni
                      input.form-check-input(type='checkbox',style='float:left;margin-left:10px;') 
                  div.form-group(style='float:left;width:100%;')
                    label.col-form-label(for='datumCiljaOd') Od
                    input.form-control(type='date', id='datumStroska')
                    label.col-form-label(for='datumCiljaDo') Do
                    input.form-control(type='date', id='datumStroska')
                  div(style='float:left;width:100%;text-align:center;')
                    button.btn.btn-warning(type='submit', style='width:120px;margin-bottom:5px;') Potrdi

project/app_client/pogledi/front/data.pogled.html
<glava vsebina='neki'></glava>
<div class="naslovi">
  <h1>----Vnos začetnih podatkov----</h1>
  <div *ngIf="napaka == niBrisano">
    <div style="text-align:center;" class="alert alert-dismissible alert-danger">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>Oh snap! Prišlo je do napake pri brisanju baze.</strong>
    </div>
  </div>
  <div *ngIf="napaka == brisano">
    <div style="text-align:center;" class="alert alert-dismissible alert-success">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>Uspešno ste pobrisali bazo.</strong>
    </div>
  </div>
  
  <button onClick="pobrisiBazo()" style="width:20%;" class="btn btn-danger gumbi-stroski-prelivi">Pobriši bazo</button>
</div>
<div id="glavniBox" class="glavniDataPoravnava">
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajUporabnika()" class="btn btn-primary gumbi-stroski-prelivi">Dodaj uporabnika</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajStrosek()" class="btn btn-danger gumbi-stroski-prelivi">Dodaj strošek</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajPreliv()" class="btn btn-success gumbi-stroski-prelivi">Dodaj priliv</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajRacun()" class="btn btn-info gumbi-stroski-prelivi">Dodaj račun</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajCilj()" class="btn btn-warning gumbi-stroski-prelivi">Dodaj cilj</button>
  </div>
  <div id="uporabnikBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-primary">Dodajanje Uporabnikov</h3>
    <div class="card-body">
      <form id="dodajanjeUporabnikaForm">
        <div class="form-group forma-Stroski">
          <label for="imeUporabnika" class="col-form-label">Ime uporabnika</label>
          <input type="text" id="imeUporabnika" placeholder="Ime" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="priimekUporabnika" class="col-form-label">Priimek uporabnika</label>
          <input type="text" id="priimekUporabnika" placeholder="Priimek" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="gesloUporabnika" class="col-form-label">Geslo uporabnika</label>
          <input type="password" id="gesloUporabnika" placeholder="*****" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="gesloPonovnoUporabnika" class="col-form-label">Ponovi geslo uporabnika</label>
          <input type="password" id="gesloPonovnoUporabnika" placeholder="*****" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitPreljiv()" style="width:120px;margin-bottom:5px;" class="btn btn-primary gumbiZaSubmit">Potrdi    </button>
        </div>
        <!--dodajanje stroskov-->
      </form>
    </div>
  </div>
  <div id="strosekBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-danger">Dodajanje stroškov</h3>
    <div class="card-body">
      <form id="strosekForm">
        <div class="form-group forma-Stroski">
          <label for="uprStrosek">Za uporabnika</label>
          <select id="uprStrosek" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imeStroska" class="col-form-label">Ime stroška</label>
          <input type="text" id="imeStroska" required="required" class="form-control"/>
        </div>
        <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
          <label class="control-label">Količina</label>
          <div class="form-group">
            <label for="kolicinaStroska" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="kolicinaStroska" placeholder="Količina" required="required" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group drugiFormGroup">
          <label for="strosekIzRacuna">Iz računa</label>
          <select id="strosekIzRacuna" class="form-control controlaOption">
            <option>NLB</option>
            <option>NLB varcevalni</option>
            <option>Štumf</option>
          </select>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Mesečni</p>
            <input type="checkbox" id="checkboxMesecni" onChange="mesecniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Enkratni</p>
            <input type="checkbox" id="checkboxEnkratni" onChange="enkratniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-group forma-Stroski">
          <label for="datumStroska" class="col-form-label">Datum stroška</label>
          <input type="date" id="datumStroska" disabled="true" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitStrosek()" style="width:120px;margin-bottom:5px;" class="btn btn-danger gumbiZaSubmit">Potrdi</button>
        </div>
      </form>
      <!--dodajanje prilivov-->
    </div>
  </div>
  <div id="prelivBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-success">Dodajanje Prilivov</h3>
    <div class="card-body">
      <form id="dodajanjePrilivaForm">
        <div class="form-group forma-Stroski">
          <label for="uprPriliv">Za uporabnika</label>
          <select id="uprPriliv" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imePreliva" class="col-form-label">Ime priliva</label>
          <input type="text" id="imePreliva" class="form-control"/>
        </div>
        <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
          <label class="control-label">Količina</label>
          <div class="form-group">
            <label for="kolicinaPreliva" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="kolicinaPreliva" placeholder="Količina" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group drugiFormGroup">
          <label for="racunPreliva">Na račun</label>
          <select id="racunPreliva" class="form-control controlaOption">
            <option>NLB</option>
            <option>NLB varcevalni</option>
            <option>Štumf</option>
          </select>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Mesečni</p>
            <input type="checkbox" id="mesecniPreliv" onChange="mesecniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Enkratni</p>
            <input type="checkbox" id="enkratniPreliv" onChange="enkratniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-group forma-Stroski">
          <label for="datumPreliva" class="col-form-label">Datum priliva</label>
          <input type="date" id="datumPreliva" disabled="true" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitPreljiv()" style="width:120px;margin-bottom:5px;" class="btn btn-success gumbiZaSubmit">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
  <div id="racunBlock2" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-info">Dodajanje Računov</h3>
    <form id="dodajanjeRacunovForm">
      <div class="card-body">
        <div class="form-group forma-Stroski">
          <label for="uprRacun">Za uporabnika</label>
          <select id="uprRacun" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imeRacuna" class="col-form-label">Ime računa</label>
          <input type="text" id="imeRacuna" required="required" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski drugaFormaDodatek">
          <label class="control-label">Začetno stanje</label>
          <div class="form-group">
            <label for="zacetnoStanje" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="zacetnoStanje" placeholder="Količina" required="required" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitRacun()" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
        </div>
      </div>
    </form>
  </div>
  <div style="display:none;" id="ciljBlock2" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-warning">Dodajanje cilja</h3>
    <div class="card-body">
      <form>
        <div class="form-group forma-Stroski"></div>
        <label for="uprCilj">Za uporabnika</label>
        <select id="uprCilj" class="form-control controlaOption">
          <option>Matevz Ogrinc</option>
          <option>Gregor Skertanec</option>
        </select>
        <div style="float:left;width:100%" class="form-group">
          <label for="inputDefault" class="col-form-label">Ime cilja</label>
          <input type="text" id="inputDefault" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="control-label">Količina</label>
          <label for="kolicinaCilja" class="sr-only">Količina (in euros)</label>
          <div class="input-group">
            <div class="input-group-addon">€</div>
            <input type="text" id="kolicinaCilja" placeholder="" class="form-control"/>
          </div>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Mesečni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Dolgoročni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:100%;" class="form-group">
          <label for="datumCiljaOd" class="col-form-label">Od</label>
          <input type="date" id="datumStroska" class="form-control"/>
          <label for="datumCiljaDo" class="col-form-label">Do</label>
          <input type="date" id="datumStroska" class="form-control"/>
        </div>
        <div style="float:left;width:100%;text-align:center;">
          <button type="submit" style="width:120px;margin-bottom:5px;" class="btn btn-warning">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
</div>
