project/app_client/pogledi/front/pozabljenoGeslo.pogled.html
<navigacija vsebina='podatki'></navigacija>
<div class="naslovi">
  <h1 id="#pozabljenoGesloH1">----Pozabljeno geslo----</h1>
  <div>
    <form>
      <div>
        <label id="pozabljenoGesloEmailLabel">e-mail:
          <input type="email" placeholder="e-mail" required="required"/>
        </label>
      </div>
      <div>
        <button type="submit" value="Ponastavi me" id="pozabljenoGesloButtonPonastavi" class="btn btn-success">Ponastavi</button>
      </div>
    </form>
  </div>
</div>

project/app_server/views/pozabljenoGeslo.jade
extends layout

block link
    -var stran = 'vhodna';
block content
    div.naslovi
        h1(id='#pozabljenoGesloH1') ----Pozabljeno geslo----
        
        div
            form()
                div
                    label(id='pozabljenoGesloEmailLabel') e-mail: 
                        input(type="email", placeholder='e-mail' required)
                div
                    button(type="submit",class="btn btn-success", value="Ponastavi me", id='pozabljenoGesloButtonPonastavi') Ponastavi
