project/app_client/pogledi/front/prijava.pogled.html
<navigacija vsebina="podatki"></navigacija>
<div class="naslovi">
  <h1>----Prijava----</h1>
  
  <div ng-show="podatki.napaka == 'vrednost'">
    <div style="text-align:center;" class="alert alert-dismissible alert-danger">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>Oh snap! Vtipkali ste napačni E-naslov ali geslo.</strong>
    </div>
  </div>
  <div ng-show="podatki.napaka == 'neObstaja'">
    <div style="text-align:center;" class="alert alert-dismissible alert-danger">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>{{podatki.vsebina}}</strong>
    </div>
  </div>
</div>

<form id="prijavaForm" method="get" role="form" ng-submit="podatki.pridobivanjeUporabnika()" style="font-size:15px;">
  <div id="boxZaReg">
    <div id="boxZaInputeReg">
      <div class="wrapperZaVhodneStrani">
        <h4 class="tekstiRegistracija">uporabniški E-naslov:</h4>
        <input type="email" placeholder="Email" id="prijavaEmail" name="prijavaEmail" ng-model='podatki.podatkiUporabnik.email' required="required" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaVhodneStrani">
        <h4 class="tekstiRegistracija">geslo:</h4>
        <input type="password" placeholder="Geslo" id="prijavaGeslo" name="geslo" ng-model='podatki.podatkiUporabnik.geslo' required="required" class="inputiRegistracija"/>
      </div>
      <div style="text-align:center;">
        <button type="submit" value="Prijavi me" id="gumbPrijava" class="gumbnasredino btn btn-success"> Prijavi me</button>
      </div>
      <div style="text-align:center;"><a href="/registracija" id="gumbPocisti" style="margin-right:10px;">
          registracija</a><a href="/pozabljenoGeslo" id="gumbPocisti">pozabljeno geslo</a></div>
    </div>
  </div>
</form>

project/app_server/views/prijava.jade
extends layout
block link
    -var stran = 'vhodna';
block content
    
    div.naslovi
        h1 ----Prijava----
    
        if(napaka == "vrednost")
            div.alert.alert-dismissible.alert-danger(style='text-align:center;')
                button.close(type="button" ,data-dismiss="alert") X
                strong Oh snap! Vtipkali ste napačni E-naslov ali geslo.
        if(napaka == "neObstaja")
            div.alert.alert-dismissible.alert-danger(style='text-align:center;')
                button.close(type="button" ,data-dismiss="alert") X
                strong= vsebina
    form(id="prijavaForm",method="get",role="form",action='/uporabnik',style='font-size:15px;')
       div(id="boxZaReg")
            div(id='boxZaInputeReg')
                div.wrapperZaVhodneStrani
                    h4.tekstiRegistracija uporabniški E-naslov:
                    input.inputiRegistracija(type="email", placeholder='Email' id="prijavaEmail" name="prijavaEmail" required)
                div.wrapperZaVhodneStrani
                    h4.tekstiRegistracija geslo:
                    input.inputiRegistracija(type="password", placeholder='Geslo' id="prijavaGeslo" name="geslo" required)
                div(style="text-align:center;")
                    button.gumbnasredino(type="submit",class="btn btn-success", value="Prijavi me", id="gumbPrijava")  Prijavi me
                div(style="text-align:center;")
                    a(href='/registracija', id='gumbPocisti', style="margin-right:10px;") 
                        | registracija
                    a(href='/pozabljenoGeslo', id='gumbPocisti')
                        | pozabljeno geslo
                    
    script(src='/javascripts/prijavaUsmerjanje.js')
