project/app_server/views/profil.jade
extends layout

block content
    
    script(src='/javascripts/funkcijeZaStran.js')
    
    div.naslovi
        h1(style='margin-bottom:10px;') ----Uporabniški Profil----
        
    form(id='posodobitevUporabnika',action='/posodobiUporabnika/'+id+'/mesec/'+mesec, method='post')
        div(style='text-align:center')
                table(style='margin-left: auto;margin-right: auto;')
                    tbody
                        tr
                            td(style='text-align:right;padding-right:10px;')
                                label(style='font-size:16px;') e-mail:
                            td(style='padding-bottom:5px')
                                    input(style='font-size:16px;',type='email',id='uporabnikEmail',value=naslov,name='uporabnikEmail', required)= naslov
                        tr
                            td(style='text-align:right;padding-right:10ox;')
                                label(style='font-size:16px;') Ime:
                            td(style='padding-bottom:5px;')
                                    input(style='font-size:16px;',type='text',value=ime,id='uporabnikIme',name='uporabnikIme', required)= ime
                        tr  
                            td(style='text-align:right;padding-right:10px;')
                                label(style='font-size:16px;') Priimek:
                            td(style='padding-bottom:5px;')
                                    input(style='font-size:16px;',type='text',value=priimek,id='uporabnikPriimek',name='uporabnikPriimek',required)= priimek
                    
                div(style='margin-left:3%;')  
                    button.btn.btn-success(type='submit', value='Potrdi', id='potrdiMe',style='font-size:16px;margin-right:10px;') Potrditev
                    button.btn.btn-danger(type='button',value='Zbriši račun', id=id,onClick='zbrisiUser(this.id)',style='font-size:16px;') Zbriši račun

project/app_client/pogledi/home/profil.pogled.html
<navigacija vsebina="podatki"></navigacija>
<div class="naslovi">
  <h1 style="margin-bottom:10px;">----Uporabniški Profil----</h1>
</div>
<form id="posodobitevUporabnika" ng-submit='podatki.posiljanjeUporabnika()' role='form' method="post" ng-controller='profilCtrl'>
  <div style="text-align:center">
    <table style="margin-left: auto;margin-right: auto;">
      <tbody>
        <tr>
          <td style="text-align:right;padding-right:10px;">
            <label style="font-size:16px;">e-mail:</label>
          </td>
          <td style="padding-bottom:5px">
            <input style="font-size:16px;" type="email" id="uporabnikEmail" ng-model='podatki.email' name="uporabnikEmail" required="required" ></input>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;padding-right:10ox;">
            <label style="font-size:16px;">Ime:</label>
          </td>
          <td style="padding-bottom:5px;">
            <input style="font-size:16px;" type="text" id="uporabnikIme" ng-model='podatki.ime' name="uporabnikIme" required="required" value='{{podatki.ime}}'></input>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;padding-right:10px;">
            <label style="font-size:16px;">Priimek:</label>
          </td>
          <td style="padding-bottom:5px;">
            <input style="font-size:16px;" type="text" ng-model='podatki.priimek' id="uporabnikPriimek" name="uporabnikPriimek" required="required" placeholder='{{podatki.priimek}}' value='{{podatki.priimek}}'></input>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin-left:3%;">
      <button type="submit" value="Potrdi" id="potrdiMe" style="font-size:16px;margin-right:10px;" class="btn btn-success">Potrditev</button>
      <button type="button" value="Zbriši račun" ng-click="podatki.pobrisiUporabnika()" style="font-size:16px;" class="btn btn-danger">Zbriši račun</button>
    </div>
  </div>
</form>
