project/app_client/pogledi/front/registracija.pogled.html
<navigacija vsebina="podatki"></navigacija>
<h1 class="naslovi">----Registracija----</h1>
<div ng-show="podatki.napaka == 'vrednost'">
  <div style="text-align:center;" class="alert alert-dismissible alert-danger">
    <button type="button" data-dismiss="alert" class="close">X</button><strong>Oh snap! Uporabnik s tem e-naslovom že obstaja.</strong>
  </div>
</div>
<div ng-show="podatki.napaka == 'nic'">
  <div style="text-align:center;" class="alert alert-dismissible alert-success">
    <button type="button" data-dismiss="alert" class="close">X</button><strong>Uspešno ste se registrirali!</strong>
  </div>
</div>


<form id="registracija" ng-submit="podatki.posiljanjePodatkov()" method="post" role="form" style="font-size:15px;" onsubmit="return validReg()">
  <div id="boxZaReg">
    <div id="boxZaInputeReg">
      <div class="wrapperZaVhodneStrani form-group has-danger">
        <h4 class="tekstiRegistracija">vaš e-mail:</h4>
        <input type="email" placeholder="vstavi email" name="email" id="email" required="required" ng-model="podatki.podatkiUporabnika.email" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaVhodneStrani form-group has-danger">
        <h4 class="tekstiRegistracija">Vaše ime:</h4>
        <input type="text" placeholder="Ime" name="ime" id="ime" required="required" ng-model="podatki.podatkiUporabnika.ime" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaVhodneStrani form-group has-danger">
        <h4 class="tekstiRegistracija">Vaš priimek:</h4>
        <input type="text" placeholder="Priimek" name="priimek" id="priimek" required="required" ng-model="podatki.podatkiUporabnika.priimek" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaVhodneStrani form-group has-danger">
        <h4 class="tekstiRegistracija">željeno geslo:</h4>
        <input type="password" placeholder="geslo" name="pwd" id="pwd" required="required" ng-model="podatki.podatkiUporabnika.pwd" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaVhodneStrani form-group has-danger">
        <h4 class="tekstiRegistracija">ponovite geslo:</h4>
        <input type="password" placeholder="geslo" name="pwda" id="pwda" required="required" class="inputiRegistracija"/>
      </div>
      <div class="wrapperZaGumbe">
        <button type="submit" value="Registriraj me" id="gumbRegistracija" class="btn btn-primary"> Registriraj me</button>
      </div>
    </div>
  </div>
</form>

project/app_server/views/registracija.jade
extends layout
block link
    -var stran = 'vhodna';

block content
    script(src='/javascripts/funkcijeZaStran.js')
    h1.naslovi ----Registracija----
    
    if (napaka == "vrednost")
        div.alert.alert-dismissible.alert-danger(style='text-align:center;')
            button.close(type="button" ,data-dismiss="alert") X
            strong Oh snap! Uporabnik s tem e-naslovom že obstaja.
    if (napaka == "nic")
        div.alert.alert-dismissible.alert-success(style='text-align:center;')
            button.close(type="button" ,data-dismiss="alert") X
            strong Uspešno ste se registrirali!

    form(id="registracija",action="/registracija", method="post",role="form",style='font-size:15px;' onsubmit="return validReg()")
        div(id="boxZaReg")
            div(id='boxZaInputeReg')
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija vaš e-mail:
                    input.inputiRegistracija(type="email",placeholder="vstavi email",name="email",id='email' required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija Vaše ime:
                    input.inputiRegistracija(type="text", placeholder="Ime",name="ime",id="ime" required )
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija Vaš priimek:
                    input.inputiRegistracija(type="text", placeholder="Priimek",name="priimek",id="priimek" required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija željeno geslo:
                    input.inputiRegistracija(type="password",placeholder='geslo',name="pwd" id="pwd" required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija ponovite geslo:
                    input.inputiRegistracija(type="password", placeholder='geslo',name="pwda" id="pwda" required)
                div.wrapperZaGumbe
                    button(type="submit",class="btn btn-primary", value="Registriraj me",id='gumbRegistracija' )  Registriraj me
                
                    
    
