project/app_client/pogledi/home/statistika.pogled.html
<navigacija vsebina="podatki"></navigacija>

<div id="statistikaWrapper">
    <div id="statistikaChartWrapper">
      <canvas id="myChart"></canvas>
    </div>
    <div id="statistikaProgressBarWrapper" class="progress">
      <div role="progressbar" style="width:85%;color:white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info">privarčevano</div>
    </div>
    <div id="statistikaDodajCiljButtonWrapper">
      <button style="width:170px;" ng-click="podatki.odpriCilji()" class="btn btn-info">Dodaj cilj</button>
    </div>

  <div style="float:left;margin-bottom:20px;display:none;" id="ciljBlock" class="card">
    <h3 style="background-color:#5BC0DE;" class="card-header">Dodajanje cilja</h3>
    <div class="card-body">
      <form id="ciljiDodaj" ng-submit='podatki.posljiCilj()' method="POST">
        <div style="float:left;width:100%" class="form-group">
          <label for="inputDefault" class="col-form-label">Ime cilja</label>
          <input type="text" id="inputDefault" ng-model='podatki.imeCilja' name="inputDefault" class="form-control"/>
        </div>
        <div class="form-group"></div>
        <label for="kolicinaCilja" class="sr-only">Količina (in euros)</label>
        <div class="input-group">
          <div class="input-group-addon">€</div>
          <input type="text" id="kolicinaCilja" ng-model='podatki.kolicinaCilja' name="kolicinaCilja" placeholder="" class="form-control"/>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Mesečni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" ng-model='podatki.mesecniCilj' name="checkBoxMesecni" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Dolgoročni</p>
            <input type="checkbox" name="checkBoxDolgorocni" ng-model='podatki.enkratniCilj' style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:100%;" class="form-group">
          <label for="datumCiljaOd" class="col-form-label">Od</label>
          <input type="date" id="datumCiljaOd" ng-model='podatki.odCilj' name="datumCiljaOd" class="form-control"/>
          <label for="datumCiljaDo" class="col-form-label">Do</label>
          <input type="date" id="datumCiljaDo" ng-model='podatki.doCilj' name="datumCiljaDo" class="form-control"/>
        </div>
        <div style="float:left;width:100%;text-align:center;">
          <button type="submit" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
  
  <div id="statistikaTableCiljiWrapper">
    <table class="table table-striped table-hover table-borderless">
      <thead>
        <tr class="stilTekstaTabele">
          <th>Cilj</th>
          <th>Količina (€)</th>
          <th>Privarčevano (€)</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="varcevanje in podatki.ciljiMesecni" style="text-align:center; color:white;" id="{{varcevanje._id}}">
            <td>{{varcevanje.naziv}}</td>
            <td>{{varcevanje.mesecniOdliv}}</td>
            <td>{{varcevanje.privarcevano}}</td>
          </tr>
          <tr ng-repeat="varcevanje in podatki.ciljiEnkratni" style="text-align:center; color:white;" id="{{varcevanje._id}}">
            <td>{{varcevanje.naziv}}</td>
            <td>{{varcevanje.skupno}}</td>
            <td>{{varcevanje.privarcevano}}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>

project/app_server/views/statistika.jade
extends layout

block content

    script(src='/javascripts/chart.js/dist/Chart.bundle.js')
    script(src='/javascripts/chart.js/dist/Chart.bundle.min.js')

    div(id='statistikaWrapper')
        
        div(id='statistikaChartWrapper')
            canvas(id="myChart")
    
        div.progress(id='statistikaProgressBarWrapper')
            div.progress-bar.bg-info(role='progressbar',style='width:85%;color:white;', aria-valuenow='25', aria-valuemin='0',aria-valuemax='100') privarčevano
        
        div(id='statistikaDodajCiljButtonWrapper')
            button.btn.btn-info(style='width:170px;', onClick='dodajCilj()') Dodaj cilj
        
      div.card(style='float:left;margin-bottom:20px;display:none;', id='ciljBlock')
          h3(style='background-color:#5BC0DE;').card-header Dodajanje cilja
          div.card-body
            form(id='ciljiDodaj',action='/dodajCilj/'+id+'/mesec/'+mesec,method='POST')
              div.form-group(style='float:left;width:100%')
                label.col-form-label(for='inputDefault') Ime cilja
                input.form-control(type='text' id='inputDefault',name='inputDefault')
              div.form-group
              label.sr-only(for='kolicinaCilja') Količina (in euros)
              div.input-group
                div.input-group-addon €
                input.form-control(type='text', id='kolicinaCilja',name='kolicinaCilja', placeholder='')
              div.form-check(style='float:left;width:50%;')
                label.form-check-label
                  p(style='float:left;margin-top:3px;') Mesečni
                  input.form-check-input(type='checkbox',style='float:left;margin-left:10px;',name='checkBoxMesecni') 
              div.form-check(style='float:left;width:50%;')
                label.form-check-label
                  p(style='float:left;margin-top:3px;') Dolgoročni
                  input.form-check-input(type='checkbox',name='checkBoxDolgorocni',style='float:left;margin-left:10px;') 
              div.form-group(style='float:left;width:100%;')
                label.col-form-label(for='datumCiljaOd') Od
                input.form-control(type='date', id='datumCiljaOd',name='datumCiljaOd')
                label.col-form-label(for='datumCiljaDo') Do
                input.form-control(type='date', id='datumCiljaDo',name='datumCiljaDo')
              div(style='float:left;width:100%;text-align:center;')
                button.btn.btn-info(type='submit', style='width:120px;margin-bottom:5px;') Potrdi
        
        div(id='statistikaTableCiljiWrapper')
            table.table.table-striped.table-hover.table-borderless
              thead
                tr.stilTekstaTabele
                  th Cilj
                  th Količina(€)
                  th Privarčevano(€)
              tbody.stilTekstaZaBody
                each varcevanje,i in varcniCiljiMesecni
                  tr(style='text-align:center;color:white;',id=varcevanje._id)
                    td= varcevanje.naziv
                    td= varcevanje.mesecniOdliv
                    td= varcevanje.privarcevano
                each varcevanje,j in varcniCiljiObdobje
                  tr(style='text-align:center;color:white;',id=varcevanje._id)
                    td= varcevanje.naziv
                    td= varcevanje.skupno
                    td= varcevanje.privarcevano
                    
    script(src='/javascripts/funkcijeZaStatistiko.js')  
